version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: backend_service
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGO_DB_URL: "mongodb+srv://dvish2003:Vishan2003%23%23%23@cluster0.ijybos0.mongodb.net/aws-mern?appName=Cluster0"
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: frontend_service
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always